body {
    /*background: url("../../images/white_background.jpeg");*/
    background: url("../../images/after-business-hours-architecture-bar-34650.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: white;*/

    padding: 5%;
    text-align: center;
}

.content {
    height: 50vh;
}

.content input {
    width: 20%;
    font-size: 16px;
}

.content button {
    width: 100px;
    background: white;
    border-radius: 15px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.login_forms {
    margin-top: 60px;
}