body {
    /*background: url("../../images/white_background.jpeg");*/
    background: url("../../images/after-business-hours-architecture-bar-34650.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: white;*/

    padding: 5%;
    text-align: center;
}

.content {
    display: block;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 700px;
}
