<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COFFEHOUSE - Menu</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/menu/menu_style.css" %}">
</head>
<body>

    <div class="menu">
        <ul>
            <li>
                <p> <a href="{% url 'menu:index' %}"> Menu </a></p>
            </li>
            <li> <p>About</p> </li>
            <li> <p>Contact</p> </li>
            <li> <p>Gallery</p> </li>
            <li>
                <p> <a href="{% url 'about:contact' %}">Find us </a></p>
            </li>
        </ul>
    </div>

    <div class="brand_name">
        <p> <a href="{% url 'home:homepage' %}"> COFFEEHOUSE </a></p>
    </div>

    <div class="slideshow">
        <p>Today food</p>
          <div class="slide-wrapper">
            <div class="slide"><h1 class="slide-number">1</h1></div>
            <div class="slide"><h1 class="slide-number">2</h1></div>
            <div class="slide"><h1 class="slide-number">3</h1></div>
            <div class="slide"><h1 class="slide-number">4</h1></div>
            <div class="slide"><h1 class="slide-number">5</h1></div>
          </div>
    </div>

    <div class="order">
        <form method="post">
            {% csrf_token %}
            <div class="form_group">
                <label for="id_food">Your's desired food</label>
                <input type="text" class="form_control" id="id_food" name="food">
            </div>

            <div class="form_group">
                <label for="id_address">Address</label>
                <input type="text" class="form_control" id="id_address" name="address">
            </div>

            <div class="form_group">
                <label for="id_note">Note for us</label>
                <textarea class="form_control" id="id_note" name="note" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Post</button>

        </form>
    </div>

</body>
</html>