{% extends 'base.html' %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/menu/menu_style.css" %}">
{% endblock extra_head %}

{% block content %}

    <div class="content">
        <div class="slideshow">
        <p>Today food</p>
          <div class="slide-wrapper">
            <div class="slide"><h1 class="slide-number">1</h1></div>
            <div class="slide"><h1 class="slide-number">2</h1></div>
            <div class="slide"><h1 class="slide-number">3</h1></div>
            <div class="slide"><h1 class="slide-number">4</h1></div>
            <div class="slide"><h1 class="slide-number">5</h1></div>
          </div>
        </div>

        <div class="order">
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">Post</button>

            </form>
        </div>
    </div>

{% endblock content %}