{% extends 'base.html' %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/menu/menu_style.css" %}">
{% endblock extra_head %}

{% block content %}

    <div class="content">
        <div class="slideshow">
        <p>Today food</p>
          <div class="slide-wrapper">
              {% for food in all_food %}
                  <div class="slide">
                    <img class="food_image" src="{{ food.img_url }}">
                    <div class="description">
                        <p class="slide-number">{{ food.number_in_menu }}</p>
                        <br><br>
                        <h1> Description </h1>
                        {{ food.description }}
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>

        <div class="order">
            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                {% if user.is_authenticated and user.is_customer %}
                    <button type="submit" class="btn btn-success"> Add to basket </button>
                {% else %}
                    <p>Before shopping you have to <a href="{% url 'users:login' %}">LOG IN</a>. <br>
                    If you have no account register <a href="{% url 'users:test_register' %}"> HERE </a>
                    </p>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock content %}