{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} COFFEHOUSE {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base_style.css" %}">
    {% block extra_head %} {% endblock extra_head %}

</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <p> <a href="{% url 'menu:index' %}"> Menu </a></p>
            </li>
            <li> <p>About</p> </li>
            <li> <p>Contact</p> </li>
            <li> <p>Gallery</p> </li>
            <li>
                <p> <a href="{% url 'about:find_us' %}">Find us </a></p>
            </li>
        </ul>
    </div>

    <div class="right_panel">
        <div class="login">
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}
                <p><a href="{% url 'users:logout' %}">Log out</a></p>

                {% if user.is_customer %}
                    <p><a href="{% url 'users:show_profile' %}"> Show profile</a></p>
                {% endif %}

                {% if user.is_owner %}
                    <p><a href="{% url 'users:register_service' %}"> Register new service </a></p>
                {% elif user.is_service %}
                    <p><a href="{% url 'orders:unprocessed' %}"> Go to orders </a></p>
                {% endif %}

            {% else %}
                <p> <a href="{% url 'users:login' %}"> LOG IN </a></p>
                <p> <a href="{% url 'users:test_register' %}"> REGISTER </a></p>
            {% endif %}

        <p>==============</p>
        <img src="{% static "images/cart.png" %}" class="shop_cart"/>

        </div>
    </div>

    <div class="brand_name">
        <p> <a href="{% url 'home:homepage' %}"> COFFEEHOUSE </a></p>
    </div>



    {% block content %}
    {% endblock content%}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{#    <script src="{% static 'js/app.js' %}"></script>#}
    {% block extra_scripts %} {% endblock extra_scripts %}

</body>
</html>