<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/homepage_style.css" %}">
</head>
<body>

{#    <h1> This is Django homepage </h1>#}

    <div class="menu">
        <ul>
            <li> <p>Menu</p> </li>
            <li> <p>About</p> </li>
            <li> <p>Contact</p> </li>
            <li> <p>Gallery</p> </li>
            <li> <p>Find us</p> </li>
        </ul>
    </div>

    <div class="middleCircle">
        <p> COFFEEHOUSE </p>
    </div>

{#     maybe here implement AJAX calls for this pictures#}
    <div class="footer">
{#        <p> This is test footer </p>#}
        {% load staticfiles %}
        <a href="https://github.com/theBlackDre1D/CoffeHouse">
            <img class="icons" src="{% static "images/GitHub-Mark-Light-64px.png" %}">
        </a>

        {% load staticfiles %}
        <a href="https://www.facebook.com/">
            <img class="icons" src="{% static "images/facebook.png" %}">
        </a>
    </div>

</body>
</html>