body {
    /*background: url("../../images/white_background.jpeg");*/
    background: url("../images/after-business-hours-architecture-bar-34650.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: white;*/

    padding: 5%;
    text-align: center;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;

    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 60px;
}

.menu a:link {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.menu a:visited {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.menu li {
    display: inline-table;
    cursor: pointer;
    font-family: Anson, serif;
    /*padding-top: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.brand_name {
    position: absolute;
    top: 2px;
    left: 10px;
}

.brand_name p {
    /*font-size: 50px;*/
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Anson, serif;
}

.brand_name a:link {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.brand_name a:visited {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.login {
    position: absolute;
    top: 0;
    right: 5px;
}

.login p {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Anson, serif;
}

.login a:link {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.login a:visited {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Anson, serif;
    text-decoration: none;
}

.content {
    display: block;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 700px;
}


@font-face {
    font-family: Anson;
    src: url("../fonts/Anson-Regular.otf") format("opentype");
}