body {
    background: url("../images/after-business-hours-architecture-bar-34650.jpg") no-repeat;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}