{% extends 'base.html' %}

{% block title %} Your chart {% endblock %}

{% block extra_head %} 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/orders/show_chart_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Your shopping chart: </h1>

        <h2>Food</h2>
        {% for item in food %}
            <div class="chart_item">
                <p> {{ item.name }}</p>
                <p> Price: {{ item.price }}$</p>
            </div>
        {% endfor %}

        <h2> Drinks: </h2>
        {% for item in drinks %}
            <div class="chart_item">
                <p> {{ item.name }}</p>
                <p> Price: {{ item.price }}$</p>
            </div>
        {% endfor %}
    ===============================================================

    <p>Total price is: {{ total_price }}</p>

    {% if total_price > 0 %}
        <form method="get">
            <input type="submit" value="ORDER" name="order"/>
        </form>
    {% endif %}
    </div>


{% endblock content%}

{% block extra_scripts %}
{% endblock extra_scripts %}