<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/orders/successful_order_style.css" %}">

</head>
<body>

    <div class="menu">
        <ul>
            <li>
                <p> <a href="{% url 'menu:index' %}"> Menu </a></p>
            </li>
            <li> <p>About</p> </li>
            <li> <p>Contact</p> </li>
            <li> <p>Gallery</p> </li>
            <li>
                <p> <a href="{% url 'about:contact' %}">Find us </a></p>
            </li>
        </ul>
    </div>

    <div class="login">
        <p> LOG IN/SIGN UP</p>
    </div>

    <div class="brand_name">
        <p> <a href="{% url 'home:homepage' %}"> COFFEEHOUSE </a></p>
    </div>

    <p>
        Successful order
    </p>

</body>
</html>
