{% extends 'base.html' %}

{% block title %} Unprocessed orders! {% endblock %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/orders/unprocessed_orders_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Orders waiting to be processed: </h1>

        {% for order in orders %}
            <div class="order">
                <div class="success_processed" style="display: none;">
                    <p> This order was successfully processed! </p>
                </div>
                <p> {{ order.food.name }}</p>
                <div class="line"></div>
                <p class="username"> {{ order.user.user.username }}</p>
                <p> {{ order.user.address }}</p>

                <input type="submit" class="btn-link" name="proceed" value="Process order"
                       onclick="proceedOrder({{ order.pk }});">
            </div>
        {% endfor %}

    </div>
{% endblock content %}

{% block extra_scripts %}
    <script>
        var proceedOrder = function (orderPK) {
            console.log("Spracovana objednavka: " + orderPK);
        };
        $(document).ready(function () {
            {#$("#extra-content").hide();#}
            $(".btn-link").click(function (eventObject) {
                {#$("#extra-content").show();#}
                $(this).siblings(".success_processed").show();
                $(this).hide();
                console.log("User clicked on button!")
            });
        });
    </script>
{% endblock %}