{% extends 'base.html' %}

{% block title %} Unprocessed orders! {% endblock %}

{% block extra_head %} 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/orders/unprocessed_orders_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Orders waiting to be processed: </h1>

        {% for order in orders %}
            <div class="order">
                <div class="success_processed" style="display: none;" id="extra-content">
                    <p> This order was successfully processed! </p>
                </div>
                <p> {{ order.food.name }}</p>
                <div class="line"> </div>
                <p class="username"> {{ order.user.user.username }}</p>
                <p> {{ order.user.address }}</p>

                <input type="submit" class="btn-link" name="proceed" value="Process order" id="proceed-order">
            </div>
        {% endfor %}

    </div>
{% endblock content%}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $("#extra-content").hide();
                $("#proceed-order").click(function(){
                    $("#extra-content").show();
                    $("#proceed-order").hide();
                    console.log("User clicked on button!")
                });
        });
    </script>
{% endblock %}