#map {
        height: 100%;
}

.content {
    color: aliceblue;
    display: block;
    background: black;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    margin-top: 40px;
    opacity: 0.90;
    width: 90%;
    filter: alpha(opacity=90);
    box-shadow: 0 0 15px 10px black;
}