{% extends 'base.html' %}

{% block title %} Hi, {{ user.username }} {% endblock %}

{% block extra_head %} 
    {% load staticfiles %}
{#    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">#}
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Here you can change information about you </h1>

        <div class="content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">Update profile</button>
            </form>
        </div>

    </div>
{% endblock content%}