{% extends 'base.html' %}

{% block title %} Login to our system {% endblock %}

{% block extra_head %} 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Login to our system </h1>

        <form method="post">
            {% csrf_token %}
            {{ form }}

            <button type="submit" class="btn btn-success"> Log in </button>
        </form>
    </div>
{% endblock content%}

{% block extra_scripts %}
{#    <script>#}
{#        $("#id_login").change(function () {#}
{#          console.log( $(this).val() );#}
{#        });#}
{#    </script>#}
      <script>
        $("#id_login").change(function () {
          var username = $(this).val();

          $.ajax({
            url: '/ajax/validate_username/',
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              if (!data.is_taken) {
                alert("A user with this username is not registered.");
              }
            }
          });
        });
    </script>
{% endblock extra_scripts %}