{% extends 'base.html' %}

{% block title %} Welcome home {% endblock %}

{% block extra_head %} 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Profile for, {{ user.username }}! </h1>

{#        user informations here #}


    <button class="change_profile">
        <p><a href="{% url 'users:change_profile' %}">Change profile</a></p>
    </button>

    </div>
{% endblock content%}