{% extends 'base.html' %}

{% block title %} Login to our system {% endblock %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="content">
        <h1> Register to our shop! </h1>

        <div class="register_forms">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="button"> Register </button>
            </form>
        </div>
        <p> Already have account? <a href="{% url 'users:login' %}"> LOG IN. </a> </p>
    </div>
{% endblock content%}