<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">
</head>
<body>

    <div class="menu">
        <ul>
            <li>
                <p> <a href="{% url 'menu:index' %}"> Menu </a></p>
            </li>
            <li> <p>About</p> </li>
            <li> <p>Contact</p> </li>
            <li> <p>Gallery</p> </li>
            <li>
                <p> <a href="{% url 'about:contact' %}"> Find us </a></p>
            </li>
        </ul>
    </div>

    <div class="brand_name">
        <p> <a href="{% url 'home:homepage' %}"> COFFEEHOUSE </a></p>
    </div>

    <div class="content">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Post</button>
        </form>

        <p> Already have account? <a href="{% url 'users:login' %}"> Log in. </a> </p>
    </div>

</body>
</html>