{% extends 'base.html' %}

{% block title %} Register user {% endblock %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/register_style.css" %}">
{% endblock extra_head %}


{#{% block extra_scripts %}#}
{#    <script>#}
{#        $("#id_username").change(function () {#}
{#          console.log( $(this).val() );#}
{#        });#}
{#    </script>#}
{#{% endblock extra_scripts %}#}

{% block content %}
    <h1> Register to our system </h1>

{#    <div class="content">#}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Post</button>
        </form>

        <p> Already have account? <a href="{% url 'users:login' %}"> Log in. </a> </p>
{#    </div>#}

{% endblock content%}
