.old_order {
    position: relative;
    border: solid 2px white;
    margin-top: 10px;
}

.price {
    position: absolute;
    top: 50%;
    right: 5%;

    font-weight: bold;
    font-size: 22px;
}

.success_delete {
    background: #36BF66;
    height: 25px;
}

.error {
    background: red;
}

