/*body {*/
    /*!*background: url("../../images/white_background.jpeg");*!*/
    /*background: url("../../images/after-business-hours-architecture-bar-34650.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*!*background: white;*!*/

    /*padding: 5%;*/
    /*text-align: center;*/
/*}*/

/*.menu {*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*background-color: black;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-align: center;*/

    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    /*height: 60px;*/
/*}*/

/*.menu a:link {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*font-family: Anson, serif;*/
    /*text-decoration: none;*/
/*}*/

/*.menu a:visited {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*font-family: Anson, serif;*/
    /*text-decoration: none;*/
/*}*/

/*.menu ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*color: white;*/
/*}*/

/*.menu li {*/
    /*display: inline-table;*/
    /*cursor: pointer;*/
    /*font-family: Anson, serif;*/
    /*!*padding-top: 5px;*!*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*font-size: 18px;*/
/*}*/

/*.brand_name {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 10px;*/
/*}*/

/*.brand_name p {*/
    /*!*font-size: 50px;*!*/
    /*color: white;*/
    /*cursor: pointer;*/
    /*font-weight: bold;*/
    /*font-family: Anson, serif;*/
/*}*/

/*.brand_name a:link {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*font-family: Anson, serif;*/
    /*text-decoration: none;*/
/*}*/

/*.brand_name a:visited {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*font-family: Anson, serif;*/
    /*text-decoration: none;*/
/*}*/

.slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slideshow p {
    color: white;
    font-family: Anson, serif;
    align-content: flex-start;
    font-size: 30px;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}


@font-face {
    font-family: Anson;
    src: url("../../fonts/Anson-Regular.otf") format("opentype");
}